.container {
    border: 2px solid gray;
    border: none;
    background-color: rgb(250, 188, 95);
    box-shadow: 2px 2px 1px 1px rgb(139, 142, 133);
    padding: 79px;
    border-radius: 7px;
    margin: 50px auto;
    max-width: 300px;
}

ul {
    margin: 4px;
    font-size: 1.5rem;
    list-style-type: none;
}
.todos-container button{

    width: 30px;
    background-color: tomato;
    border-radius: 4px;
    border: none;
    margin-left: 5px;
}
.todos-container li {
    min-width: 280px;
}

.todobtn {
    padding: 10px 8px;
    background-color: rgb(218, 197, 166);
    box-shadow: 1px 1px 1px 1px rgb(139, 142, 133);
    border: none;
    border-radius: 4px;
    color: rgb(122, 107, 107)
}

.todobtn:hover {

    cursor: pointer;
    background-color: rgb(224, 189, 137);
    color: #fff;
}

input {
    background-color: rgb(218, 197, 166);
    border: none;
    border-radius: 6px;
    box-shadow: 1px 1px 1px 1px rgb(139, 142, 133);
    height: 35px;
    margin: 4px;
    text-align: center;
    
}

input:focus {
    background-color: rgb(208, 175, 126);
    outline: none;
}
input:hover {
    background-color: rgb(208, 175, 126);
    outline: none;
}
@media (max-width: 600px){
    .container, input, .todobtn{
        background-color: aquamarine;
    }
   
}